#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000 // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 12   // 10

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 1 1>; };

&msc {
    acceleration-exponent = <0>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    // 上下滚动编码器行为

    scroll_vertical_encoder: scroll_vertical_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    // 左右滚动编码器行为

    scroll_horizontal_encoder: scroll_horizontal_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

        tap-ms = <100>;
    };

    autoShift: autoShift {
        compatible = "zmk,behavior-hold-tap";
        label = "AUTOSHIFT";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <250>;
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        mb3 {
            bindings = <&mkp MB3>;
            key-positions = <54 53>;
            layers = <0>;
        };
    };

    macros {
        Braces: brc_in {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT_ARROW>;
            label = "BRC_IN";
        };

        Brackets: Brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT_ARROW>;
            label = "BRACKETS";
        };

        Parentheses: Parentheses {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT_ARROW>;
            label = "PARENTHESES";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC         &autoShift LS(N1) N1  &autoShift LS(N2) N2  &autoShift LS(N3) N3  &autoShift LS(N4) N4  &autoShift LS(N5) N5    &autoShift LS(N6) N6  &autoShift LS(N7) N7  &autoShift LS(N8) N8        &autoShift LS(N9) N9          &autoShift LS(N0) N0                &autoShift LS(BSLH) BSLH
&kp TAB         &autoShift LS(Q) Q    &autoShift LS(W) W    &autoShift LS(E) E    &autoShift LS(R) R    &autoShift LS(T) T      &autoShift LS(Y) Y    &autoShift LS(U) U    &autoShift LS(I) I          &autoShift LS(O) O            &autoShift LS(SEMICOLON) SEMICOLON  &autoShift LS(SINGLE_QUOTE) SINGLE_QUOTE
&kp LEFT_ALT    &autoShift LS(A) A    &autoShift LS(S) S    &autoShift LS(D) D    &autoShift LS(F) F    &autoShift LS(G) G      &autoShift LS(H) H    &autoShift LS(J) J    &autoShift LS(K) K          &autoShift LS(L) L            &autoShift LS(P) P                  &kp BACKSPACE
&kp LEFT_SHIFT  &autoShift LS(Z) Z    &autoShift LS(X) X    &autoShift LS(C) C    &autoShift LS(V) V    &autoShift LS(B) B      &autoShift LS(N) N    &autoShift LS(M) M    &autoShift LS(COMMA) COMMA  &autoShift LS(PERIOD) PERIOD  &autoShift LS(FSLH) FSLH            &kp ENTER
                                                            &kp LCTRL             &lt 1 SPACE           &kp LEFT_WIN            &kp PG_UP             &lt 1 RIGHT_ALT
                                                                                  &mkp MB1              &mkp MB2                &kp PG_DN
            >;

            sensor-bindings =
                <&scroll_vertical_encoder>,
                // 编码器1：上下滚动,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
                <&scroll_horizontal_encoder>;

            // 编码器2：左右滚动
        };

        layer_1 {
            bindings = <
&autoShift LS(GRAVE) GRAVE  &kp F1     &kp F2                  &kp F3           &kp F4           &kp F5          &kp F6                &kp F7                            &kp F8                            &kp F9                            &kp F10  &kp F11
&kp CAPS                    &none      &kp HOME                &kp UP_ARROW     &kp END          &Braces         &kp PAGE_UP           &autoShift LS(N7) N7              &autoShift LS(N8) N8              &autoShift LS(N9) N9              &none    &kp F12
&trans                      &kp EQUAL  &kp LEFT_ARROW          &kp DOWN_ARROW   &kp RIGHT_ARROW  &Brackets       &kp PAGE_DOWN         &autoShift LS(NUMBER_4) NUMBER_4  &autoShift LS(N5) N5              &autoShift LS(NUMBER_6) NUMBER_6  &none    &kp DELETE
&trans                      &kp PLUS   &autoShift UNDER MINUS  &kp KP_MULTIPLY  &kp SLASH        &Parentheses    &autoShift LS(N0) N0  &autoShift LS(NUMBER_1) NUMBER_1  &autoShift LS(NUMBER_2) NUMBER_2  &autoShift LS(NUMBER_3) NUMBER_3  &none    &trans
                                                               &trans           &mo 2            &trans          &trans                &mo 2
                                                                                &trans           &trans          &trans
            >;
        };

        layer_setting {
            bindings = <
&out OUT_TOG  &bt BT_CLR_ALL  &bt BT_CLR     &out OUT_BLE   &out OUT_USB   &none    &none  &none                 &none                  &none  &none  &none
&none         &bt BT_SEL 0    &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &none    &none  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &none  &none  &none
&to 0         &bt BT_DISC 0   &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &none    &none  &kp LEFT_BRACE        &kp RIGHT_BRACE        &none  &none  &none
&to 3         &none           &bl BL_OFF     &none          &none          &none    &none  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none  &none  &none
                                             &none          &none          &none    &none  &none
                                                            &none          &none    &none
            >;
        };

        autoshiftOff {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3     &kp N4       &kp N5      &kp N6         &kp N7      &kp N8     &kp N9   &kp N0    &kp BSLH
&kp TAB    &kp Q   &kp W   &kp E      &kp R        &kp T       &kp Y          &kp U       &kp I      &kp O    &kp SEMI  &kp APOS
&kp LALT   &kp A   &kp S   &kp D      &kp F        &kp G       &kp H          &kp J       &kp K      &kp L    &kp P     &kp BSPC
&kp LSHFT  &kp Z   &kp X   &kp C      &kp V        &kp B       &kp N          &kp M       &kp COMMA  &kp DOT  &kp FSLH  &kp ENTER
                           &kp LCTRL  &lt 1 SPACE  &kp LGUI    &kp PAGE_UP    &lt 1 RALT
                                      &mkp MB1     &mkp MB2    &kp PAGE_DOWN
            >;
        };

        /* layer_2 {
            bindings = <
&none  &none   &none    &none   &none         &none         &kp N1         &none         &none     &none  &none   &to 0
&none  &none   &none    &none   &none         &none         &none         &none          &rgb_ug RGB_BRD &rgb_ug RGB_BRI  &rgb_ug RGB_EFF   &rgb_ug RGB_TOG
&none  &none   &none    &none   &none         &none         &none         &mkp LCLK     &mkp RCLK  &none  &none   &none
&none  &none   &none    &none   &bt BT_NXT  &bt BT_CLR    &none         &none         &none     &none  &none   &none
                                   &none         &none         &none         &none         &none
                                                 &none         &none         &none
            >;
       
            
        };

       Mouse {
            bindings = <
&none        &none         &none         &none         &none      &none         &none       &none      &none         &none         &none         &none
&none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 3  &none      &bt BT_CLR    &bt BT_CLR  &none      &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &none
&none        &trans        &trans        &mkp MCLK     &trans     &none         &none       &trans     &mkp MCLK     &trans        &trans        &none
&bootloader  &trans        &mkp RCLK     &mo 4         &mkp LCLK  &mo 5         &mo 5       &mkp LCLK  &mo 4         &mkp RCLK     &trans        &bootloader
                                         &mo 5         &mkp LCLK  &mkp RCLK     &mkp RCLK   &mkp LCLK
                                                       &none      &trans        &trans
            >;

            
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
                
                
               
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
                
                
        };*/
    };
};
